:root {
  --first-color-text: #000;
  --second-color-text: #4285f4;
  --color-white: white;
  --iris: #4D5AE5;
  --navy-blue: #2E2F42;
}

body {font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #333;
line-height: 1.6;}

header {
  background-color: var(--color-white);
}
:root {
  --first-color-text: #000;
  --second-color-text: #4285f4;
  --color-white: white;
  --iris: #4D5AE5;
}

button {
  color: var(--color-white);
  background-color: var(--iris);
 cursor: pointer;
}

button:hover {
  background-color: blue;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  
  font-weight: 600;}
  .highlight {
    color: var(--second-color-text);
  }

.dark-bg{color: var(--color-white);
      background-color:var(--navy-blue)
    }
    
 .page-footer{color: var(--color-white);
    background-color: var(--navy-blue)}